#only required if you use an apache server

DirectoryIndex root.html

RewriteEngine on
#new pages should be added between the two brackets, separated by a vertical bar (|)
RewriteRule ^(error|welcome|stream|videos|contact|connection)/* root.html