<form id="contactForm">
    <input id="contactName" type="text" placeholder="Prénom / Pseudo *" required/>
    <!-- <input id="contactEmail" type="email" placeholder="Adresse email *" required/> -->
    <textarea id="contactMessage" placeholder="Message *" required></textarea>
    * champs obligatoires <br/>
    <button type="submit">Envoyer</button>
</form>
<div class="contactLinks">
    <div class="leftLinks">
        <a class="contactLink youtube" href="https://www.youtube.com/channel/UCNOddurlcb_LQ_eag1mgVSg">Tyranix Officiel</a>
        <a class="contactLink youtube" href="https://www.youtube.com/channel/UCRepo8RQ2j97XAHaLz24eVg">Elouan-Media</a>
        <a class="contactLink youtube" href="https://www.youtube.com/azertycraftgaming">AzertyGames</a>
        <a class="contactLink twitch" href="https://www.twitch.tv/tyranixtv">TyranixTV</a>
        <a class="contactLink twitter" href="https://twitter.com/tyranixtv">TyranixTV</a>
    </div>
    <div class="rightLinks">
        <a class="contactLink instagram" href="https://www.instagram.com/elouuaan/">Elouan</a>
        <a class="contactLink instagram" href="https://www.instagram.com/azertycraft/">Nicolas</a>
        <a class="contactLink instagram" href="https://www.instagram.com/marlol12348/">Marine</a>
        <a class="contactLink instagram" href="https://www.instagram.com/drini.du/">Drini</a>
        <a class="contactLink instagram" href="https://www.instagram.com/nonotop15/">Noa</a>
    </div>
    <a class="contactLink email" href="mailto:contact@tyranixtv.ch">contact@tyranixtv.ch</a>
</div>