<div class="contactBox">
    <a class="twitterelouanHref" href="https://twitter.com/EllolReye" target="_blank" title="Twitter Elouan">
        <img class="TwitterElouan" src="images/Twitter.png"/>
    </a>
    <div class="textContactBox textTwitterElouan"> 
        Twitter Elouan
    </div>
</div>
<div class="contactBox">
    <a class="twitternicolasHref" href="https://twitter.com/azertycraftgame" target="_blank" title="Twitter Nicolas">
        <img class="TwitterNicolas" src="images/Twitter.png"/>
    </a>
    <div class="textContactBox textTwitterNicolas">
        Twitter Nicolas
    </div>
</div>
<div class="contactBox">
    <a class="discordHref" href="https://www.discord.gg/9RxDxC6" target="_blank" title="Discord Tyranix Community">
        <img class="discordTyranix" title="Discord Tyranix Community" src="images/Discord.png" target="_blank"/>
    </a>
    <div class="textContactBox textDiscord">
        Si vous voulez parler avec notre communauté sa ce passe sur <a href="https://www.discord.gg/9RxDxC6" title="Discord Tyranix Community" target="_blank">discord</a>.</div>
</div>