<div class="textAcceuil">
    <div>
        Bienvenue sur le site <a class="TyranixTV" href="https://www.twitch.tv/tyranixtv" title="Chaîne Twitch"
            target="_blank">TyranixTV</a>
    </div>
</div>
<div class="MenuLinksAcceuil">
    <a href="/stream" title="Stream">
        Stream
    </a>
    <a href="/videos" title="vidéos">
        Vidéos
    </a>
    <a href="/connection" title="connexion">
        Connexion
    </a>
    <a href="/contact" title="Résaux sociaux">
        Contact
    </a>
</div>
<div class="extraLayer">
    <img id="marioQuality" src="images/mehrio.gif" />
    <img id="toyooo" src="images/toyo.png" />
</div>