.streamPageContainer {
    padding: 20px;
}
.streamTwitchPlayer{
    width: 100%;
    height: 100%;
}
.streamTwitchTchat{
    width: 100%;
    height: 100%;
}
.streamLeftSection{
    min-height: var(--page-content-height);
    width: calc(70% - 1em);
    display: inline-block;
}
.streamRightSection{
    min-height: var(--page-content-height);
    width: 30%;
    display: inline-block;
    padding-left: 10px;
}
@media only screen and (max-width: 750px) {
    .streamLeftSection{
        width: 100%;
    }
    .streamRightSection{
        width: 100%;
    }
}