.streamTwitchPlayer{
    height: 619px;
    width: 100%;
}
.streamTwitchTchat{
    width: 100%;
    height: 619px;
}
.streamLeftSection{
    width: calc(100% - 400px - 1em);
    display: inline-block;
}
.streamRightSection{
    width: 400px;
    display: inline-block;
    padding-left: 50px;
}
.topMenuLinks:hover{
    color: yellow;
}