h1 {
    font-size: 60px;
    color: white;
    text-shadow: 5px 5px 30px blue;
}

:root{
    --video-width: 500px;
    --video-height: calc(var(--video-width) / 16 * 9);
}

.videoFrame{
    width: calc(100% - 40px);
    max-width: var(--video-width);
    height: var(--video-height);
    margin: 20px;
    display: inline-block;
    background-color: #444;
    border: none;
}