/*general*/
*{
    box-sizing: border-box;
}
body {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    width: 100vw;
}
p{
   margin: 0;
}
.none{
    display: none!important;
}

/*loader*/
.globalLoaderContainer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 30;
    transition: opacity 0.2s;
    opacity: 0;
}
.globalLoaderImage {
    height: 50px;
    width: 50px;
    background-image: url(/images/loader.svg);
    background-size: cover;
    position: absolute;
    top: calc(50vh - 25px);
    left: calc(50vw - 25px);
}
/*info box*/
.infoMessageBox {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 10px;
    background-color: rgba(0,0,0,0.8);
    color: white;
    border: 1px solid white;
    border-radius: 5px;
    transition: opacity 0.5s;
    opacity: 0;
    z-index: 20;
}

/*content loader*/
.contentLoader {
    min-height: 50px;
    width: 100%;
    background-image: url(/images/loader.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 20px;
}

/*noData*/
.noDataContainer {
    margin: 20px;
    font-size: 20px;
    color: 
    #666;
}
