/*container*/
#pagesContainer {
    width: 100%;
    display: inline-block;
    /* overflow: hidden; */
    text-align: center;
}
.pageContainer {
    /* max-width: 1250px; */
    display: inline-block;
    width: 100%;
}