.topMenu{
    height: 85px;
    width: 100%;
    position: fixed;
    top: 0;
    position: relative;
    text-align: left;
    font-size: 0;
}
.topMenuLogo{
    max-height: 85px;
    max-width: 85px;
}
.topMenuLogoHref{
    display: inline-block;
    width: 85px;
    vertical-align: top;
}
.topMenuLinks{
    display: inline-block;
    vertical-align: top;
    height: 85px;
    position: relative;
    max-width: calc(100% - 85px);
    overflow: hidden;
}
.topMenuLinks > a{
    display: inline-block;
    color: white;
    line-height: 85px;
    font-size: 35px;
    margin-left: 15px;
    margin-right: 15px;
    text-decoration-line: none;
}
.topMenuLinks>a:hover{
    color: yellow;
    transition: 0.5s;
}
